<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="inputFilePath" value="\TextSamples\TextSample.txt"/>
  <add key="outputFilePath" value="\TextSamples\DeployedTextSample.txt"/>
  <add key="DefaultPrintTest" value="\TextSamples\DefaultPrintTest.txt"/>
  <add key="DeleteWordConsonantTest" value="\TextSamples\DeleteWordConsonantTest.txt"/>
  <add key="PrintInAscendingOrderTest" value="\TextSamples\PrintInAscendingOrderTest.txt"/>
  <add key="ReplaceWordInSentenceTest" value="\TextSamples\ReplaceWordInSentenceTest.txt"/>
  <add key="SearchWordInQuestionTest" value="\TextSamples\SearchWordInQuestionTest.txt"/>
  <add key="OutputFilePath" value="\TextSamples\DeployedTextSample.txt"/>
</configuration>